# Ejercicios de pandas

***

In [8]:
import pandas as pd
import numpy as np

## Ejercicio 1

1. Generar arreglos de numpy para obtener el resultado de $ z = f(x,y) $ para un conjunto de entrada aleatorio de al menos 100 filas.

- Crear un `DataFrame` de pandas con las columnas $x$, $y$ y $z$.
- Obtener el promedio de cada `Series` en el `DataFrame`.

In [6]:
# Tu código acá

## Ejercicio 2

1. Prueba 5 funciones de la primera página del *cheat sheet* no vistas en la exposición.

In [6]:
# Tu código acá

## Ejercicio 3

Resuelva las siguientes preguntas utilizando las funciones de pandas. Ayúdese con la hoja de trucos.

In [5]:
df = pd.read_csv("data/titanic.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

 - ¿Cuál es la tarifa máxima que se pagó? ¿Y la mediana?

In [6]:
# Tu código acá

- Calcule la tasa de supervivencia promedio para todos los pasajeros (nota: la columna `Survived` indica si alguien sobrevivió (1) o no (0)).

In [6]:
# Tu código acá

- Haga una gráfica de la distribución de edades de los pasajeros del Titanic

In [6]:
# Tu código acá

- Según el conjunto de datos del Titanic, seleccione todas las filas para pasajeros masculinos y calcule la edad media de esos pasajeros. Haz lo mismo para las pasajeras.

In [6]:
# Tu código acá

- Según el conjunto de datos del Titanic, ¿cuántos pasajeros mayores de 70 estaban en el Titanic?

In [6]:
# Tu código acá

- Calcula la edad promedio para cada sexo. Ahora utiliza el método `groupby`.

In [6]:
# Tu código acá

- Calcule esta relación de supervivencia para todos los pasajeros menores de 25 años (recuerde: filtrado / indexación booleana).

In [6]:
# Tu código acá

- ¿Cuál es la diferencia en la proporción de supervivencia entre sexos?

In [6]:
# Tu código acá

- ¿O cómo difiere la proporción de sobrevivientes entre las diferentes clases de pasajeros? Haz una gráfica de barras visualizando la relación de supervivencia para las 3 clases.

In [6]:
# Tu código acá

- Haga una gráfica de barras para visualizar la tarifa promedio pagada por los pasajeros de acuerdo a su edad. Para esto:
    - Primero, separamos a los pasajeros por rango, utilizando la función `pd.cut` y agregamos esta serie al DataFrame.
    - Debemos agrupar por esta columna y calcular el promedio de las tarifas.
    - Por último, agregamos `plot(kind='bar')` para obtener la gráfica de barras.

In [12]:
df['AgeClass'] = pd.cut(df['Age'], bins=np.arange(0,90,10))
# Tu código acá